[user]
    name = Ryan QIAN
    email = b32804@freescale.com 
[core]
    autocrlf = false
    safecrlf = false
    whitespace=fix, -indent-with-non-tab, trailing-space, cr-at-eol
    excludefiles=~/.gitignore
#	gitproxy = gitproxy

[color]
    ui = auto
[color "branch"]
    current = green
    local = yellow
    remote = blue 
[color "diff"]
    meta = yellow bold
    frag = red bold
    new = green bold
    whitespace = red
[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log -p
    lt = log --oneline --decorate --graph
    lo = log --oneline
    ls = log --stat
