[submodule "vim/.vim/bundle/fugitive"]
	path = vim/.vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/bundle/delimitmate"]
	path = vim/.vim/bundle/delimitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/.vim/bundle/pyflakes"]
	path = vim/.vim/bundle/pyflakes
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "vim/.vim/bundle/nerdcommenter"]
	path = vim/.vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/.vim/bundle/supertab"]
	path = vim/.vim/bundle/supertab
	url = git://github.com/vim-scripts/supertab.git
[submodule "vim/.vim/bundle/tagbar"]
	path = vim/.vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/.vim/bundle/solarized"]
	path = vim/.vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/unimpaired"]
	path = vim/.vim/bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/.vim/bundle/neocomplcache.vim"]
	path = vim/.vim/bundle/neocomplcache.vim
	url = git://github.com/Shougo/neocomplcache.vim.git
